@font-face {
  font-family: rick_and_morty;
  src: url(../../assets/MISFITS-font.ttf);
}

.form {
  background-color: #a9b7dc80;
  border: solid #020b45;
  transform: translateX(120%);
  align: center;
  font-family: rick_and_morty;
  width: 25em;
  height: 25em;
  border-radius: 2em;
  overflow: hidden;
  margin: 2em;
  position: relative;
  box-shadow: 0 0 10px rgba(230, 228, 228, 0.8);
}

.form img {
  top: 30%;
  transform: translateY(0%);
  width: 70%;
  height: 35%;
  border-radius: 2em;
}

.form label {
  color: #f7f3f5;
}

.form input[type="text"], .form input[type="password"] {
  width: 90%;
  height: 50px;
  positon: relative;
  margin-top: 7px;
  font-size: 14px;
  color: #444;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .49);
}

.form input [type="submit"] {
  border: #2c06d6 solid;
  border-radius: 0.5em;
  margin: 0.5em;
}
